{% extends "base.html" %}
{% block body %}
    <div class="wrap">
        <div id="dir-control-left" class="dir-control">
            <i class="fa fa-angle-left fa-5x" aria-hidden="true"></i>
        </div>
        <div id="slider">
            <div class="slide slide1">
                <div class="slide-content">
                    <h2>Your Path to Health and Wellness Begins Here</h2>
                    <p>Your Trusted Partner in Comprehensive Healthcare, Where Your Well-being is Our Priority, Providing Quality Care and Support for All Your Health Needs.</p>
                    
                </div>
            </div>
            <div class="slide slide2">
                <div class="slide-content">
                    <h2>Making Health Easy and Accessible</h2>
                    <p>At ProHealth, we prioritize our patient's health and well-being, and we strive to provide compassionate care with exceptional results.</p>
                    
                </div>
            </div>
            <div class="slide slide3">
                <div class="slide-content">
                    <h2>Heading Three</h2>
                    <p>This is the description for Image Three.</p>
                    
                </div>
            </div>
        </div>
        <div id="dir-control-right" class="dir-control">
            <i class="fa fa-angle-right fa-5x" aria-hidden="true"></i>
        </div>
    </div>
    
                <!-- steps -->
                             <!-- <div class="container-fluid">
        <div class="row steps mt-5">
            <div class="col-md-2 text-center col-2">
                <hr>
            </div>
            <div class="col-md-1 col-1">
                    <div class="step">
                        <img src="./images/health-checkup.gif" alt="" class="img-fluid">
                    </div>
            </div>
            <div class="col-md-2 text-center  col-2">
                <hr>
            </div>
            <div class="col-md-1 col-1">
                    <div class="step">
                        <img src="./images/stethoscope.gif" alt="" class="img-fluid">
                    </div>
            </div>
            <div class="col-md-2 text-center  col-2">
                <hr>
            </div>
            <div class="col-md-1 col-1">
                    <div class="step">
                        <img src="./images/protection.gif" alt="" class="img-fluid">
                    </div>
            </div>
            <div class="col-md-2 text-center col-2">
                <hr>
            </div>
            <div class="col-md-1 col-1">
                    <div class="step">
                        <img src="./images/verified.gif" alt="" class="img-fluid">
                    </div>
            </div>
        </div>
      </div> -->
                <!-- steps end -->
 <!-- hero section -->
    <section>
        <div class="container-fluid mb-4 pt-4 pb-3 bg-herosec">
              <div class="row">
                 <div class="col-md-6 amenities">
                    <div class="amenities-part">
                        <span>Finest Patient</span>
                        <h2>Care & Amenities</h2>
                        
                        <div class="row">
                            <div class="col-md-6 col-6 ">
                               <ul>
                                 <li>Ut wisi enim ad minim dolore</li>
                                 <li>Ut wisi enim ad minim dolore</li>
                                 <li>Ut wisi enim ad minim dolore</li>
                                 <li>Ut wisi enim ad minim dolore</li>
                               </ul>
                            </div>
                            <div class="col-md-6 col-6 ">
                                <ul>
                                    <li>Ut wisi enim ad minim dolore</li>
                                    <li>Ut wisi enim ad minim dolore</li>
                                    <li>Ut wisi enim ad minim dolore</li>
                                    <li>Ut wisi enim ad minim dolore</li>
                                  </ul>
                            </div>
                        </div>
                    </div> 
                    <div class="button-group mt-4 mb-5">
                        <a href="#" class="btn btn-primary rounded-pill"><i class="fa-solid fa-phone-volume"
                                style="color: #113550; margin-right:1rem;"></i>Book an Appointment</a>
                        <a href="#" class="btn btn-outline-primary rounded-pill">Find a Doctor</a>
                    </div>
                    <div class="stats-container mt-3 mb-2 d-flex  ">
                        <div class="stat-item mr-3">
                            <h3 class="stat-value">12000+</h3>
                            <p class="stat-label">Happy Patients</p>
                        </div>
                        <div class="stat-item">
                            <h3 class="stat-value">200+</h3>
                            <p class="stat-label">Expert Doctors</p>
                        </div>
                    </div>                  
                 </div>
                 <div class="col-md-6" >
                     <img src="{{ url_for('static', filename='assets/images/hero_img.png')}}" alt="" class="img-fluid" style="margin: bottom -50px">
                 </div>
              </div>
        </div>
    </section>
    <!-- emergency -->
    <div class="container">
        <div class="row timetable border">
            <div class="col-md-3 colo1">
                <div class="row pb-3"> 
                    <img src="{{ url_for('static', filename='assets/images/phone.png')}}" alt="" class="img-fluid">
                </div>
                <div class="row">
                    <h3>Emergency Cases</h2>
                </div>
                <div class="row">
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                </div>
                
            </div>
            <div class="col-md-3 colo2">
                <div class="row pb-3"> 
                    <img src="{{ url_for('static', filename='assets/images/hours.png')}} " class="img-fluid">
                </div>
                <div class="row">
                   <table class="tableDesign" width="400px">
                     <tr>
                        <td>
                            <p>Monaday-Friday</p>
                        </td>
                        <td>
                            <span>8.00-17.00</span>
                        </td>
                     </tr>
                     <tr>
                        <td>
                            <p>Saturday</p>
                        </td>
                        <td>
                            <span>8.00-17.00</span>
                        </td>
                     </tr>
                     <tr>
                        <td>
                            <p>Sunday</p>
                        </td>
                        <td>
                            <span>8.00-17.00</span>
                        </td>
                     </tr>
                   </table>
                </div>
            </div>
            <div class="col-md-3 colo3">
                <div class="row pb-3"> 
                    <img src="{{ url_for('static', filename='assets/images/calender.png')}}" alt="" class="img-fluid">
                </div>
                <div class="row">
                    <h3>Doctors Timetable</h2>
                </div>
                <div class="row">
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                </div>
            </div>
            <div class="col-md-3 colo4">
                <div class="row pb-3"> 
                    <img src="{{ url_for('static', filename='assets/images/calender.png')}}" alt="" class="img-fluid">
                </div>
                <div class="row">
                    <h3>Doctors Timetable</h2>
                </div>
                <div class="row">
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- department -->
<div class="container-fluid mt-4">
    <div class="department">
        <h2>Departments</h2>
    </div>

    <!-- Regular desktop/tablet view -->
    <div class="desktop-view">
        <div class="row card-row">
            {% for department in departments %}
            <div class="cards">
                {% if department[4] %}
                <img src="{{ department[4] }}" alt="Department Picture" style="width: 100px;">
                {% else %}
                No Picture
                {% endif %}
                <p>{{ department[2]}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Mobile slider view -->
    <div class="swiper mobile-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="cards">
                    <img src="{{ url_for('static', filename='assets/images/department_icon_1.svg')}}" alt="">
                    <p>Emergency Department</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cards">
                    <img src="./images/department_icon_2.svg" alt="">
                    <p>Emergency Department</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cards">
                    <img src="./images/department_icon_3.svg" alt="">
                    <p>Emergency Department</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cards">
                    <img src="./images/department_icon_5.svg" alt="">
                    <p>Emergency Department</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cards">
                    <img src="./images/department_icon_1.svg" alt="">
                    <p>Emergency Department</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cards">
                    <img src="./images/department_icon_6.svg" alt="">
                    <p>Emergency Department</p>
                </div>
            </div>
            
        </div>
        <!-- Add navigation arrows -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<!-- end department --> 

<div class="container-fluid facility-bg">
    <div class="row overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 main-faci text-lg-start">
                    <h2>
                        We always put our patients first
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing eli.
                    </p>
                    <button class="btn btn-des">View Services <span>+</span></button>
                </div>
                <div class="col-lg-4 col-md-6 col-12 block-faci">
                    <div class="row">
                        <div class="col-3">
                            <div class="box-icon">
                                <img src="{{ url_for('static', filename='assets/images/department_icon_2.svg')}}" alt="">
                            </div>
                        </div>
                        <div class="col-9">
                            <h4>The Best Doctors</h4>
                            <p>Lorem ipsum dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</p>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-3">
                            <div class="box-icon">
                                <img src="{{ url_for('static', filename='assets/images/department_icon_2.svg')}}" alt="">
                            </div>
                        </div>
                        <div class="col-9">
                            <h4>The Best Facilities</h4>
                            <p>Lorem ipsum dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 block-faci">
                    <div class="row">
                        <div class="col-3">
                            <div class="box-icon">
                                <img src="{{ url_for('static', filename='assets/images/department_icon_2.svg')}}" alt="">
                            </div>
                        </div>
                        <div class="col-9">
                            <h4>Advanced Technology</h4>
                            <p>Lorem ipsum dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</p>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-3">
                            <div class="box-icon">
                                <img src="{{ url_for('static', filename='assets/images/department_icon_2.svg')}}" alt="">
                            </div>
                        </div>
                        <div class="col-9">
                            <h4>24/7 Support</h4>
                            <p>Lorem ipsum dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- appointment form -->
<div class="container-fluid py-5 bg-form">
    <div class="row justify-content-between align-items-center">
      <!-- Left side image -->
      <div class="col-lg-3 mb-4 mb-lg-0">
        <img src="{{ url_for('static', filename='assets/images/vecteezy_ai-generated-portrait-of-docto-young-woman-happy-smiling_41642091.png')}}" alt="Medical Care" class="img-fluid rounded">
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="mb-3 position-relative">
            <h1 class="h5">Find Hospitals Near You</h1>
            <input type="text" id="location" class="form-control mb-2" placeholder="Enter Location" />
            <ul id="suggestions" class="suggestions list-group"></ul>
            <button id="searchButton" class="btn btn-primary">Search</button>
        </div>
        <div id="map"></div>
      </div>      
      <!-- Right side form -->
      <div class="col-lg-5">
        <div class="appointment-form p-4 rounded">
          <div class="heading-block mb-4">
            <h2 class="text-primary d-inline-block m-0">BOOK AN</h2>
            <h3 class="text-dark display-6 mt-2">Appointment</h3>
          </div>
          
          <form id="appointmentForm" class="needs-validation" novalidate>
            <div class="row gx-4 gy-3">
              <!-- Name Field -->
              <div class="col-md-6 mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control custom-input" id="name" name="name" placeholder="David John" required>
              </div>
              
              <!-- Phone Number Field -->
              <div class="col-md-6 mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="tel" class="form-control custom-input" id="phone" name="phone" placeholder="(123) 456 - 789" required>
              </div>
            </div>
            
            <!-- Medical Record Number -->
            <div class="mb-4">
              <label for="medicalRecord" class="form-label">Medical Record Number</label>
              <input type="text" class="form-control custom-input" id="medicalRecord" name="medicalRecord" placeholder="123456-7890-0987" required>
            </div>
            
            <div class="row gx-4 gy-3">
              <!-- Reason for Visit -->
              <div class="col-md-6 mb-3">
                <label for="reasonVisit" class="form-label">Reason for Visit</label>
                <select class="form-select custom-select" id="reasonVisit" name="reasonVisit" required>
                  <option value="">Routine Checkup</option>
                  <option value="emergency">Emergency</option>
                  <option value="followup">Follow-up Visit</option>
                  <option value="consultation">Consultation</option>
                </select>
              </div>
              
              <!-- Department -->
              <div class="col-md-6 mb-3">
                <label for="department" class="form-label">Department</label>
                <select class="form-select custom-select" id="department" name="department" required>
                  <option value="">Emergency Department</option>
                  <option value="cardiology">Cardiology</option>
                  <option value="neurology">Neurology</option>
                  <option value="pediatrics">Pediatrics</option>
                </select>
              </div>
            </div>
            
            <div class="row gx-4 gy-3 mb-4">
              <!-- Preferred Date -->
              <div class="col-md-6 mb-3">
                <label for="preferredDate" class="form-label">Preferred Date</label>
                <input type="date" class="form-control custom-input" id="preferredDate" name="preferredDate" required>
              </div>
              
              <!-- Preferred Time -->
              <div class="col-md-6 mb-3">
                <label for="preferredTime" class="form-label">Preferred Time</label>
                <select class="form-select custom-select" id="preferredTime" name="preferredTime" required>
                  <option value="">10:00AM</option>
                  <option value="09:00">09:00 AM</option>
                  <option value="11:00">11:00 AM</option>
                  <option value="14:00">02:00 PM</option>
                  <option value="15:00">03:00 PM</option>
                  <option value="16:00">04:00 PM</option>
                </select>
              </div>
            </div>
            
            <div class="text-center">
              <button type="submit" class="btn btn-primary px-5 py-2">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
<!-- end appointment form -->

<!-- patient -->
 <!-- Reviews Section -->
<div class="container mt-5">
    <!-- Heading -->
    <div class="text-center mb-5">
        <h1 class="fw-bold" style="color: #31507D; font-size:50px; font-weight:700;">Some Reviews</h1>
        <h2 class="text-primary">OF OUR CLIENTS</h2>
    </div>

    <!-- Timeline Reviews -->
    <div class="row justify-content-center">
        <div class="col-md-8 position-relative">
            <!-- Timeline Line -->
            <div class="timeline-line"></div>

            <!-- Review 1 -->
            <div class="review-item item-left d-flex align-items-center mb-5">
                <div class="profile-image">
                    <img src="{{ url_for('static', filename='assets/images/avatar_3.png')}}" alt="Paulo Hubert" class="rounded-circle">
                </div>
                <div class="profile-info ms-3">
                    <h3 class="name">PAULO HUBERT</h3>
                    <p class="location">New York, USA</p>
                </div>
                <div class="timeline-dot"></div>
            </div>

            <!-- Review 2 -->
            <div class="review-item active-item d-flex align-items-center mb-5">
                <div class="profile-image">
                    <img src="{{ url_for('static', filename='assets/images/avatar_2.png')}}" alt="Laurence Vendetta" class="rounded-circle">
                </div>
                <div class="profile-info ms-3">
                    <h3 class="name">LAURENCE VENDETTA</h3>
                    <p class="location">California, USA</p>
                </div>
                <div class="timeline-dot active"></div>
                <!-- Review Content -->
                <div class="review-content">
                    <div class="quote">"</div>
                    <p>I recently had to bring my child to ProHealth for a minor injury, and I was so impressed with the care he received. The pediatrician was great with him and made him feel at ease, and the entire staff was kind and attentive.</p>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>

            <!-- Review 3 -->
            <div class="review-item item-left d-flex align-items-center">
                <div class="profile-image">
                    <img src="{{ url_for('static', filename='assets/images/avatar_1.png')}}" alt="Cassandra Raul" class="rounded-circle">
                </div>
                <div class="profile-info ms-3">
                    <h3 class="name">CASSANDRA RAUL</h3>
                    <p class="location">Florida</p>
                </div>
                <div class="timeline-dot"></div>
            </div>
        </div>
    </div>
</div>
<!-- end patient -->
{% endblock %}    
